DISPLINE | 429  | int # spectral pixel for aperture-finding
WIDTH    | 60.  | float  # default width in pixels
B1       | -200. | float # background limits rel to ctr. 
B2       | -40.  | float 
B3       | 40.   | float 
B4       | 200.  | float 
BFITORD  |  2    | int   # default polyomial order for bckgrd fit
BITER    |  4    | int   # number of background rejection iterations
BSIG     | 1.8   | float # sigma to cut in bckg iterations.
NAVG     | 60  | int # number of dispersion lines to average
AVGTYPE  | clippedavg | str # either 'clippedavg' or 'median'
# AVGTYPE  | median | str # either 'clippedavg' or 'median'
NLOWCUT  |  2  | int # number of low pixels to reject in clippedavg
NHIGHCUT |  2  | int # number of high pixels to reject in clippedavg
# With OSMOS and osctrtask, the star always lands very close 
# to the same row.  Take advantage of this!
PROFCTR  | 603. | float # default center for target star 
PROFWIN  | 10.  | float # number of pixels to search for star
YLEVEL   | 0.2  | float #fraction of profile height for 1st cut apert. limit
R_GROW   | 1.5  | float # grow aperture limits by this factor from YLEVEL.
FIGWID   | 10.  | float # width of figures, inches
FIGHGHT  | 6.   | float # height of figures, inches
TRACEORD |  3   | int # order of polynomial fit to trace
TRACEITER |  3  | int # number of times to iterate trace fit
TRACECLIP | 2. | float # sigma at which to clip trace points in each iter
